

 body {
    box-shadow: 0px 4px 30px lightcoral;
    background-repeat: no-repeat;
    display: grid;
    font-family: 'Oswald', sans-serif;
    
 }
 #backgroundVideo {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%; 
   min-height: 100%;
 }

.body-form {
    padding: 10px;
}

.body-form tr {
    margin: 5px;
}
.body-form td {
    margin: 5px;
}
.buttons {
    margin: 5rem 2rem;
}
 a{
    text-decoration: none;
 }
 header {
    max-height: 200px;
    border-radius: 20px;
    justify-content:space-around;
    padding: 5px;
 }
 header h1 {
   cursor:pointer;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-right: 5rem;
 }
 header h1:hover {
   color: azure;
   font-weight: bolder;
 }

 .navbar-nav {
    margin-left: 5rem;
 }
 .navbar-nav li {
   margin-inline: 2rem;
   
}
.navbar-nav a {
   color: white;
   font-size : 1.4rem;
   font-weight: bold;
   border-radius: 20px;
}
.navbar-nav a:hover {
   background-color :white;
   color: black;
   border-radius: 20px;
}
.content {
   position:relative;
   color: #f1f1f1;
   width: 100%;
   padding: 20px;
 }
.footer {
   position:fixed;
   bottom: 0;
   left: 17rem;
}
.tabla-css {
   margin-left: auto;
   margin-right: auto;
   min-width: 600px;
   box-shadow: 0 0 25px #a39e9e;
   border-collapse: collapse;
}
.tabla-css thead tr {
   background-color: #f0b90b;
   color:black;
   text-align: center;
}
.tabla-css th,
.tabla-css td {
   padding: 20px 20px;
   text-align: center;
}
.tabla-css tbody tr:nth-of-type(even){
background-color: #f8c7282c;   
}