
 body {
    background-color:#56e4eb;
    box-shadow: 0px 4px 30px lightcoral;
    background-repeat: no-repeat;
    display: grid;
    
 }


.body-form {
    padding: 10px;
}

.body-form tr {
    margin: 5px;
}
.body-form td {
    margin: 5px;
}
.buttons {
    margin: 5rem 2rem;
}
 a{
    text-decoration: none;
 }
 header {
    max-height: 200px;
    border-radius: 20px;
    justify-content:space-around;
    padding: 5px;
 }
 header h1 {
    padding: 10px;
    margin-right: 5rem;
 }

 .navbar-nav {
    margin-left: 5rem;
 }
 .navbar-nav li {
    justify-content:space-around;
 }