<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Quicksand:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../index.css">
    <title>Login | Session</title>
</head>

<body class="bg-light">
    <video autoplay muted loop id="backgroundVideo">
        <source src="../assets/backgroundVideo.mp4" type="video/mp4">
    </video>
    <header>
        <nav class="navbar navbar-expand-lg  rounded-pill">
            <div class="d-flex container-fluid mx-auto">
                <h1 class="ms-5">Banco Interdigital</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-brand ms-5 justify-content-around" id="navbarNav">
                    <ul class="navbar-nav  rounded-pill px-3 py-1 ms-5">
                        <li class="nav-item">
                            <a class="nav-link  mx-2" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  mx-2"  href="./simulador.html">Simuladores</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav  rounded-pill px-3 py-1 ms-5 ">
                        <li class="nav-item ">
                            <a class="nav-link mx-2" href="./views/login.html">Inicio Sesion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="content">
        <h2>LOGIN</h2>
        <div>
            <ul id="listUser">
                <h3> All users here: </h3>
            </ul>
        </div>
        <form onsubmit="return false">
            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" id="uname" name="uname" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" id="psw" name="psw" required>
                <button type="submit" onclick="Login()">Login</button>
            </div>
        </form>
    </main>
    <script src="../index.js">
    </script>
            <script src="../bootstrap.min.js"></script>

</body>

</html>