<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../index.css">
    <title>Simulador | Plazos Fijos/UVA</title>
</head>
<body class="min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg  rounded-pill">
            <div class="container-fluid">
                <h1>Banco Interdigital</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav bg-light rounded-pill px-3 py-1">
                        <li class="nav-item">
                            <a class="nav-link active"  href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./presupuestos.html">Presupuestos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./simulador.html">Simuladores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./login.html">Inicio Sesion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <h2>Formulario de plazo fijo</h2>
      <form id="form">
        <table style="text-align: left; margin-left: auto; margin-right: auto;">
            <tbody class="body-form">
                <tr>
                    <td>
                        <label for="capital-depositado">Ingresa el valor de capital a depositar en pesos:</label>
                    </td>
                    <td>
                        <input id="capital-depositado" required="required" step="0.1" type="number" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="duracion-deposito">Ingresa cantidad de meses del deposito:</label>
                    </td>
                    <td>
                        <input id="duracion-deposito" required="required" step="0.1" type="number" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="tasa-de-interes">Ingresa la tasa de intereses anual (TNA):</label>
                    </td>
                    <td>
                        <input id="tasa-de-interes" required="required" step="0.1" type="number" />
                    </td>
                </tr>
                <tr  align="center" class="input">
                    <td colspan="2" rowspan="2"> 
                        <button type="button" id="procesar">Procesar</button>
                        <button type="reset">Reestablecer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
     <div>
        <div class="container">
            <p id="resultado">
                
            </p>
        </div>
     </div>
    <script src="../index.js">
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</body>
</html>