<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../index.css">
    <title>Simulador | Plazos Fijos/UVA</title>
</head>
<body class="min-vh-100 ">
    <video autoplay muted loop id="backgroundVideo">
        <source src="../assets/backgroundVideo.mp4" type="video/mp4">
    </video>
    <header class="">
        <nav class="navbar navbar-expand-lg  rounded-pill">
            <div class="container-fluid mx-auto">
                <h1 class=" ms-5">Banco Interdigital</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-brand ms-5 justify-content-around" id="navbarNav">
                    <ul class="navbar-nav  ">
                        <li class="nav-item">
                            <a class="nav-link  mx-2" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  mx-2" aria-current="page"  href="#">Simuladores</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav  ">
                        <li class="nav-item ">
                            <a class="nav-link mx-2" href="./login.html">Inicio Sesion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
   <main class="content text-light">
    <h2 >Formulario de plazo fijo</h2>
    <form id="form">
      <table style="text-align: left; margin-left: auto; margin-right: auto;">
          <tbody class="body-form">
              <tr>
                  <td>
                      <label for="capital-depositado">Ingresa el valor de capital a depositar en pesos:</label>
                  </td>
                  <td>
                      <input id="capital-depositado" required="required" step="0.1" type="number" />
                  </td>
              </tr>
              <tr>
                  <td>
                      <label for="duracion-deposito">Ingresa cantidad de meses del deposito:</label>
                  </td>
                  <td>
                      <input id="duracion-deposito" required="required" step="0.1" type="number" />
                  </td>
              </tr>
              <tr>
                  <td>
                      <label for="tasa-de-interes">Ingresa la tasa de intereses anual (TNA):</label>
                  </td>
                  <td>
                      <input id="tasa-de-interes" required="required" step="0.1" type="number" />
                  </td>
              </tr>
              <tr  align="center" class="input">
                  <td colspan="2" rowspan="2"> 
                      <button type="button" id="procesar">Procesar</button>
                      <button type="reset">Reestablecer</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </form>
   <div>
      <div class="container">
          <p id="resultado">
              
          </p>
      </div>
   </div>
   </main>
    <script src="../index.js">
    </script>
        <script src="../bootstrap.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>